---
import Container from "@/components/container.astro"
import AboutUsImg from "@/assets/aboutus.jpeg"
---

<Container class="py-12 lg:py-26">
    <div class="w-full max-w-(--breakpoint-xl) grid gap-8 lg:grid-cols-2">
        <div class="order-2 lg: order-1">
            <p class="text-slate-500 text-sm tracking-tight font-bold mb-4">12+ YEARS ROOFING IN IDAHO</p>
            <h2 class="text-slate-700 max-w-4xl lg:max-w-xl text-[2rem] tracking-tight font-bold md:text-[2.5rem]">A Professional Idaho Roofing Company</h2>
            <div class="my-7 h-[3px] w-20 bg-orange-400"></div>
            <p class="text-slate-600 text-[1.18rem]/8 font-[public-sans] max-w-4xl lg:max-w-lg">
                With over 12 years of experience, AER Roofing proudly 
                serves homeowners, businesses, and builders throughout 
                the Treasure Valley, McCall, Twin Falls, and surrounding 
                areas. Our team delivers dependable, high-quality roofing 
                solutions tailored to your needs. Whether you're facing 
                storm damage, building a new home, or upgrading your 
                existing roof, we're here to help—with free on-site 
                inspections, written estimates, and a commitment to 
                doing the job right.
            </p>
        </div>
        <div class="order-1 lg:order-2">
            <img src={AboutUsImg.src} alt="About Us" class="w-full h-auto" />
        </div>
    </div>
</Container>