---
import Container from "@/components/container.astro"
---

<Container class="bg-slate-800 py-12">
    <div class="w-full max-w-(--breakpoint-xl) flex flex-col items-center justify-center sm:flex-row sm:justify-between gap-8">
        <div>
            <h2 class="mb-4 w-full max-w-4xl text-center sm:text-start text-slate-100 text-3xl tracking-tight font-bold md:text-4xl">Get a Free Quote!</h2>
            <p class="w-full max-w-4xl text-center sm:text-start text-[1.18rem]/8 text-slate-100 font-[public-sans]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur in magni ea veritatis, expedita asperiores eius placeat optio, minus saepe vel atque rem voluptatum fugit accusamus nihil quos nam. Pariatur!</p>
        </div>
        <div class="h-full flex items-center">
            <a href="#" class="font-semibold text-nowrap text-sm bg-slate-100 py-3 px-7 rounded-3xl">Book Your Inspection</a>
        </div>
    </div>
</Container>