---
import Container from "@/components/container.astro"
---

<Container class="bg-slate-600 py-12">
    <div class="w-full max-w-(--breakpoint-xl) flex flex-col items-center justify-center sm:flex-row sm:justify-between gap-8">
        <div>
            <h2 class="mb-4 w-full max-w-4xl text-center sm:text-start text-slate-50 text-[2rem] tracking-tight font-bold md:text-4xl">
                Ready for a Roof You Can Trust?
            </h2>
            <p class="w-full max-w-4xl text-center sm:text-start text-[1.18rem]/8 text-slate-200 font-[public-sans]">
                Protect your home from the elements and secure its future. Small issues can quickly become major problems. Request your free, no-obligation estimate today.
            </p>
        </div>
        <div class="h-full flex items-center">
            <a href="#roof-quote" class="font-bold text-nowrap text-sm text-slate-100 bg-orange-400 hover:bg-orange-600 duration-200 ease-in-out py-3 px-7 rounded-3xl">Book Your Inspection</a>
        </div>
    </div>
</Container>