---
import Container from "@/components/container.astro"
import Logo from "@/assets/logo.svg"

const menuitems = [
    {
        title: "About",
        path: "/about",
    },
    {
        title: "Residential Roofing",
        path: "/residential-roofing",
    },
    {
        title: "Commercial Roofing",
        path: "/commercial-roofing",
    },
    {
        title: "Service Areas",
        path: "/service-areas",
    },
    {
        title: "Contact",
        path: "/contact",
    }
]
---
<Container class="bg-zinc-900 pt-12 pb-6">
    <footer class="w-full max-w-(--breakpoint-xl) flex-col justify-center">
        <div class="w-full gap-8 flex flex-col md:flex-row md:justify-between items-center">
            <a href="/" class="flex justify-center items-center gap-3">
                <Logo class="w-19 nav-logo" /> 
                <p class="font-[oswald] text-slate-100 text-4xl whitespace-nowrap">AER ROOFING</p>
            </a>
            <ul class="flex flex-wrap justify-center gap-8">
                {menuitems.map(item => (
                    <li>
                        <a href={item.path} class="text-slate-300 hover:text-white duration-200 ease-in-out text-sm font-medium">
                            {item.title}
                        </a>
                    </li>
                ))}
            </ul>
        </div>
        <div class="w-full h-px bg-zinc-700 my-8"></div>
        <div class="text-slate-400 mt-12">
            <p class="text-center text-sm">
                Copyright Â© {new Date().getFullYear()} Astroship. All rights reserved.
            </p>
            <!--
                Can we ask you a favor ðŸ™
                Please keep this backlink on your website if possible.
                or Purchase a commercial license from https://web3templates.com
            -->
            <p class="text-center text-xs mt-1">
                Made by <a
                href="https://web3templates.com"
                target="_blank"
                rel="noopener"
                class="hover:underline">
                Web3Templates
                </a>
            </p>
        </div>
    </footer>
</Container>