---
import Container from "@/components/container.astro"
import Form from "@/components/contactform.astro"
import ShieldHouseIcon from "@/assets/shield_with_house.svg"
import AbSeal from "@/assets/bbb-seal.svg"
---

<Container class="bg-[linear-gradient(180deg,rgba(40,52,66,0.6)_0%,rgba(40,52,66,0.6)_100%),url(./../assets/hero-bg.jpeg)] bg-cover bg-center">
    <main class="max-w-(--breakpoint-xl) grid gap-12 md:grid-cols-3 place-items-center pt-16 pb-8 md:py-16">
        <div class="md:col-span-2">
            <h1
            class="text-5xl text-white md:text-6xl font-bold md:tracking-tight xl:tracking-tighter">
            Trusted Idaho Roofing Experts
            </h1>
            <div class="my-7 h-[3px] w-24 bg-stone-200"></div>
            <p class="text-lg text-white mt-4 max-w-3xl">
                AER Roofing is a professional Idaho roofing contractor, bringing you reliable service and quality workmanship with 12+ years of experience.
            </p>
            <div class="mt-10 flex flex-row gap-3">
                <AbSeal class="h-14" />
                <div class="flex justify-center items-center">
                     <ShieldHouseIcon class="fill-stone-200" />
                     <p class="text-stone-200 font-semibold">Idaho Insured &amp; <span class="text-nowrap">Licensed &check;</span></p>
                </div>
            </div>
        </div>
        <div class="min-w-60 bg-white md:col-span-1 rounded-lg px-6 py-4 w-full">
            <p class="w-full text-center font-semibold text-lg pb-3">Book Free Roof Inspection</p>
            <Form />
        </div>
    </main>
</Container>