---
import Container from "@/components/container.astro"

const images = [
    "https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg",
    "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg",
    "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg",
    "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg",
    "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg",
    "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg",
    "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg",
    "https://flowbite.s3.amazonaws.com/docs/gallery/square/image-7.jpg"
]
---

<Container class="pt-12 lg:pt-26">
    <div class="w-full max-w-(--breakpoint-xl)">
        <p class="text-slate-500 text-sm tracking-tight font-bold mb-4">SUCCESSFUL PROJECTS</p>
        <h2 class="text-slate-700 text-[2rem] tracking-tight font-bold md:text-[2.5rem]">Built to Last: Our Roofing Portfolio</h2>
        <div class="mt-7 mb-14 h-[3px] w-20 bg-orange-400"></div>
    </div>
</Container>
<Container class="w-full pb-12 lg:pb-26">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {images.map(image => (
            <div class="relative overflow-hidden">
                <img class="h-auto max-w-full hover:scale-110 focus:scale-110 transition-transform duration-500 ease-in-out" src={image} alt="" />
            </div>
        ))}
    </div>
</Container>