---
import Container from "@/components/container.astro"
import PinIcon from "@/assets/location-pin.svg"

const cities = [
  "Boise",
  "Caldwell",
  "Cascade",
  "Donnelly",
  "Eagle",
  "Emmett",
  "Fruitland",
  "Garden Valley",
  "Greenleaf",
  "Hailey",
  "Homedale",
  "Horseshoe Bend",
  "Kuna",
  "Marsing",
  "McCall",
  "Melba",
  "Meridian",
  "Middleton",
  "Mountain Home",
  "Nampa",
  "Payette",
  "New Plymouth",
  "Star",
  "Twin Falls",
  "Wilder"
];

---

<Container class="bg-stone-50 py-12 lg:py-26">
    <div class="w-full max-w-(--breakpoint-xl) flex flex-col items-center">
        <h2 class="text-center text-slate-700 text-[2rem] tracking-tight font-bold md:text-[2.5rem]">Our Service Areas</h2>
        <div class="my-7 h-[3px] w-20 bg-orange-400"></div>
        <p class="text-[1.18rem]/8 text-slate-700 font-[public-sans] max-w-4xl text-center mb-4">Our dedicated team serves a wide range of neighborhoods, ensuring every home gets the expert care it deserves. See if your area is on our list:</p>
        <ul class="columns-2 md:columns-3 lg:columns-4 gap-x-8 w-full max-w-4xl">
        {cities.map(city => (
            <li class="w-full flex gap-2 pt-4">
                <PinIcon class="w-4 fill-orange-500" />
                <span>{city}</span>
            </li>
        ))}
        </ul>
    </div>
</Container>