---
import Container from "@/components/container.astro"
---

<Container class="bg-stone-100 py-12 lg:py-26">
    <div class="w-full max-w-(--breakpoint-xl) grid gap-8 lg:grid-cols-2">
        <div>
            <p class="text-stone-500 text-sm tracking-tight font-bold mb-4">AREAS OF SERVICE</p>
            <h2 class="max-w-4xl lg:max-w-lg text-3xl tracking-tight font-bold md:text-4xl">Proudly Serving Idaho</h2>
            <div class="my-7 h-[3px] w-20 bg-stone-300"></div>
            <p class="text-[1.18rem]/8 text-slate-800 font-[public-sans] max-w-4xl lg:max-w-lg">
                With over 12 years of experience, AER Roofing proudly 
                serves homeowners, businesses, and builders throughout 
                the Treasure Valley, McCall, Twin Falls, and surrounding 
                areas. Our team delivers dependable, high-quality roofing 
                solutions tailored to your needs. Whether you're facing 
                storm damage, building a new home, or upgrading your 
                existing roof, we're here to help—with free on-site 
                inspections, written estimates, and a commitment to 
                doing the job right.
            </p>
        </div>
        <div>
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d172153.33373691145!2d-122.33979794999999!3d47.608715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490102c93e83355%3A0x102565466944d59a!2sSeattle%2C%20WA!5e0!3m2!1sen!2sus!4v1739169879796!5m2!1sen!2sus" 
            width="100%" 
            height="400rem" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
        </div>
    </div>
</Container>