---
import Container from "@/components/container.astro"

const bulletPoints = [
    {
        heading: "12+ Years of Experience Roofing in Idaho",
        text: "Trusted by customers across the region for over a decade of consistent, high-quality service."
    },
    {
        heading: "Free On-Site Inspections & Written Estimates",
        text: "We make it easy to get started with clear, upfront information and zero obligation."
    },
    {
        heading: "Leak Free Guarantee",
        text: "Your roof will be 100% leak-proof\u2014or we'll fix it free."
    },
    {
        heading: "Referral Bonus",
        text: "Earn up to $500 when you refer a friend."
    }
]

function doubleDigit(number) {
   if (number < 9)
       return "0" + number;
   else
       return number;
}

---

<Container class="bg-slate-800 py-12 lg:py-26 relative grid-bg">
    <div class="w-full max-w-(--breakpoint-xl) relative z-1">
        <p class="text-slate-400 text-sm tracking-tight font-bold mb-4">WHY CHOOSE US</p>
        <h2 class="mb-14 text-slate-100 text-3xl tracking-tight font-bold md:text-4xl">Benefits You Can Count On</h2>
        <!-- <div class="mt-7 mb-10 h-[3px] w-20 bg-slate-400"></div> -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-6">
            {bulletPoints.map((point, index) => (
            <li class="flex w-full gap-4">
                <span class="text-stone-400 text-xl font-semibold">{doubleDigit(index+1)}</span>
                <div>
                    <h3 class="text-slate-200 text-xl font-semibold">{point.heading}</h3>
                    <p class="text-slate-300 text-lg/8 font-[public-sans]">{point.text}</p>
                </div>
            </li>
            ))}
        </div>
    </div>
</Container>